
<head>
    <link rel="stylesheet" href="/public/css/ecrime.css">
</head>
 

<div class="card">
    <div class="card-header">E-CRIME</div>
    <div class="card-content">
        <img src="/public/img/bandits/{{bandit.imagem}}" style="background-color: aliceblue;" alt="Imagem do preso" id="preso-imagem">
        <div class="card-details">
            <p><strong>Vulgo:</strong> <span id="vulgo:">{{bandit.vulgo}}</span></p>
            <p><strong>Cargo:</strong> <span id="cargo:">{{bandit.cargo}}</span></p>
            <p><strong>Artigo de Crime cometido:</strong> <span id="artigodecrime">{{bandit.artigo}}</span></p>
            <p><strong>Nível de Procurado:</strong> <span id="procurado">{{bandit.nivel_procurado}}</span></p>
            <p><strong>Facção:</strong> <span id="facção">{{bandit.faccao}}</span></p>
            <p><strong>Quebrada:</strong> <span id="quebrada">{{bandit.quebrada}}</span></p>
        </div>
    </div>
</div>


<!-- Scripts opcionais para simular funcionalidades de edição e exclusão -->
<script>
    function editarPreso() {
        alert('Editar preso: Implemente sua lógica aqui.');
    }

    function excluirPreso() {
        if (confirm('Tem certeza que deseja excluir este preso?')) {
            alert('Preso excluído: Implemente sua lógica aqui.');
        }
    }
</script>